<div class="container">
  <header class="form-header">
    <h2>Create Event</h2>
  </header>

  <main class="form-content">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Title</mat-label>
      <input matInput [(ngModel)]="title" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Description</mat-label>
      <textarea matInput rows="3" [(ngModel)]="description"></textarea>
    </mat-form-field>

    <div class="form-row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Event Date & Time</mat-label>
        <input matInput type="datetime-local" [(ngModel)]="eventDateTime" />
      </mat-form-field>
    </div>

    <button
      mat-raised-button
      color="primary"
      (click)="saveEvent()"
      class="submit-button"
    >
      Save Event
    </button>
  </main>
</div>
