<mat-list class="custom-sidenav" role="list">
  <a
    mat-list-item
    role="listitem"
    routerLink="/dashboard"
    routerLinkActive="active-link"
    matTooltip="Navigate to your dashboard for an overview of your activities."
  >
    <mat-icon>dashboard</mat-icon>
    <span>Dashboard</span>
  </a>
  <a
    mat-list-item
    role="listitem"
    routerLink="/events"
    routerLinkActive="active-link"
    matTooltip="View and manage your scheduled events."
  >
    <mat-icon>event</mat-icon>
    <span>Events</span>
  </a>
  <a
    mat-list-item
    role="listitem"
    routerLink="/reminders"
    routerLinkActive="active-link"
    matTooltip="Set and manage your reminders effectively."
  >
    <mat-icon>alarm</mat-icon>
    <span>Reminders</span>
  </a>
</mat-list>
