.custom-sidenav {
  width: 240px;
  color: #ffffff;
  height: 100vh;
  padding-top: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}


a.mat-list-item {
  display: flex;
  align-items: center;
  gap: 12px; /* space between icon and label */
  color: #ffffff;
  font-weight: 500;
  transition: background-color 0.2s;
  cursor: pointer;
  text-decoration: none; /* prevent underlines */
}

a.mat-list-item:hover {
  background-color: #1e1e1e;
  transform: translateX(2px); 
}

a.mat-list-item .mat-icon {
  /* margin-right: 12px; */
  color: #90caf9;
}

.active-link {
  background-color: #333333 !important;
  border-left: 4px solid #42a5f5;
}
