<div class="container">
  <main class="form-content">
    <h2 class="form-header">Set Reminder</h2>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Title</mat-label>
      <input matInput [(ngModel)]="reminderTitle" />
    </mat-form-field>

<mat-form-field appearance="outline" class="full-width">
  <mat-label>Reminder Date & Time</mat-label>
  <input matInput type="datetime-local" [(ngModel)]="reminderTime" />
</mat-form-field>

    <mat-checkbox [(ngModel)]="repeat" class="checkbox">
      Repeat Daily
    </mat-checkbox>

    <button mat-raised-button color="accent" (click)="saveReminder()" class="submit-button">
      Save
    </button>
  </main>
</div>
