.dashboard-container {
  padding: 24px;
  background-color: #f9fafc;
  min-height: 100vh;
  display: flex;
  margin-left: 10px;
  flex-direction: column;/* Adjust if your sidebar width is different */
}

.dashboard-header {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.dashboard-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;
}


.dashboard-card {
  background-color: #fff;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

mat-card {
  width: 100%;
}

mat-calendar {
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: none;
}

